.DS_Store
.ipynb_checkpoints
node_modules
/.bazelrc.user
/.tf_configure.bazelrc
/bazel-*
/bazel_pip
/tools/python_bin_path.sh
/tensorflow/tools/git/gen
/pip_test
/_python_build
*.pyc
__pycache__
*.swp
.vscode/
cmake_build/
tensorflow/contrib/cmake/_build/
.idea/**
/build/
[Bb]uild/
/tensorflow/core/util/version_info.cc
/tensorflow/python/framework/fast_tensor_util.cpp
Pods
Podfile.lock
*.pbxproj
*.xcworkspacedata
/*.podspec
/tensorflow/lite/experimental/objc/BUILD
/tensorflow/lite/experimental/swift/BUILD
/tensorflow/lite/examples/ios/simple/data/*.txt
/tensorflow/lite/examples/ios/simple/data/*.tflite
/tensorflow/lite/gen/**
/tensorflow/lite/tools/make/downloads/**
xcuserdata/**
/api_init_files_list.txt
/estimator_api_init_files_list.txt
*.whl

# Android
.gradle
.idea
*.iml
local.properties
gradleBuild

# Project files
**/*.zip
**/*.h5
**/events.out.tfevents.*
**/*.meta
**/*.index
**/*.data-*
# Data ignore
data/
features/
clouds/
superpoint_graphs/
data
**/hdf5_data
**/indoor3d_sem_seg_hdf5_data
data_download/
**/hdf5_data/
**/PartAnnotation/
**/testing_ply_file_list.txt
part_seg/train.py
log/checkpoint
log/log_train.txt
sample_scripts
**/log/
**/train_results/
**/cut-pursuit